extends layout

block content
    //h1= title
    //img(src='/images/mockingbrid.jpg')
    #main
        #toolbar
        #container
            #left
            #right

block js
    +js('/js/json.js')
    //+js('/js/json-formatter.js')
    +jsx('/js/list.jsx')
    +jsx('/js/category.jsx')
    +jsx('/js/content.jsx')
    +js('/js/module/socket.io.js')
    +js('/js/client.js')
