extends layout

block content
    h1= title
    //img(src='/images/mockingbrid.jpg')
    #container
        #left
        #right
block js
    +jsx('/js/list.jsx')
    +jsx('/js/detail.jsx')
    +jsx('/js/content.jsx')
    +js('/js/module/socket.io.js')
    +js('/js/client.js')
