html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: #00B7FF;
}

textarea {
    width: 100%;
    overflow-y: scroll;
    outline: 0 none;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#toolbar {
    height: 50px;
    padding: 0 20px;
    background-color: black;
    color: white;
}

#toolbar h1 {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 10px;
}

#toolbar a {
    position: absolute;
    right: 30px;
    top: 10px;
    margin: 0;
    color: white;
}

#toolbar a:hover {
    text-decoration: underline;
    text-underline-color: #000088;
}

#container {
    width: 100%;
    height: 100%;
}

#left {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid darkgray;
    box-sizing: border-box;
    overflow: scroll;
    padding-bottom: 10px;
}

#right {
    width: 50%;
    height: 100%;
    float: left;
    overflow: scroll;
    background-color: #ECECEC;
}

#left .list {
    width: 100%;
}

#left .item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#left .item .method {
    color: #333;
    margin-right: 5px;
}

#left .item .code {
    color: #333;
    margin-right: 5px;
}

#left .item .status {
    color: #259a7d;
    margin-right: 5px;
}

#left .item .cost {
    color: #1d179a;
    margin-right: 5px;
}

#left .item .code-200 {
    color: #289A3E;
    margin-right: 5px;
}

#left .item .domain {
    margin-right: 5px;
}

#left .item .domain:hover {
    text-decoration: underline;
}

#left .item .path {
    margin-right: 5px;
    color: #008;
    cursor: hand;
}

#left .item .path:hover {
    text-decoration: underline;
}

#left .item .time {
}

.pre {
    padding: 15px;
    line-height: 1.4;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.category {
    width: 90%;
    height: 100%;
    padding: 10px;
}

.category .category-label {
    width: 100%;
    padding-bottom: 0.5em;
}

.div-url .category .category-value {
    height: 20px;
}

.div-request-header .category .category-value {
    height: 100px;
}

.div-response-header .category .category-value {
    height: 100px;
}

.div-response-body .category .category-value {
    height: 200px;
}

.category-value {
    width: 100%;
    overflow-y: auto;
    background-color: #f5f5f5;
    border: solid 1px #CECECE;
    padding: 10px;
}

.ObjectBrace {
    color: #00AA00;
    font-weight: bold;
}

.ArrayBrace {
    color: #0033FF;
    font-weight: bold;
}

.PropertyName {
    color: #CC0000;
    font-weight: bold;
}

.String {
    color: #007777;
}

.Number {
    color: #AA00AA;
}

.Boolean {
    color: #0000FF;
}

.Function {
    color: #AA6633;
    /*text-decoration: ;*/
}

.Null {
    color: #0000FF;
}

.Comma {
    color: #000000;
    font-weight: bold;
}

pre.json-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

pre.json-container img {
    cursor: pointer;
    border: none;
    margin-bottom: -1px;
}


