body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li{
    list-style-type: none;
}

h1{
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    color: rgba(0,0,0,0.2);
}

#container {
    width: 100%;
    height: 100%;
}

#left {
    border-right: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    float: left;
    overflow: auto;
}

#left .item{
   padding: 10px;
   border-bottom: 1px solid #eee;      
}


#left .item .method{
    color: #333;
    margin-right: 5px;
}
#left .item .code{
    color: #333;
    margin-right: 5px;
}

#left .item .code-200{
    color: #289A3E;
}

#left .item .address{}

#right{
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: auto;
}

.pre {
    padding: 15px;
    line-height: 1.4;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

a {
    color: #00B7FF;
}

input {
    padding: 0.4em 0.25em;
    width: 100%;
    background: transparent;
    color: #AFB5BB;
    font-size: 1.55em;
}